@import "tailwindcss";
@import "tailwindcss/base";
@tailwind utilities;

  .animate-gradient2 {
    background-size: 200%;
    -webkit-animation: animatedgradient2 3s linear infinite forwards;
    -moz-animation: animatedgradient2 3s linear infinite forwards;
    animation: animatedgradient2 3s linear infinite forwards;
    color: transparent; /* Make the text itself transparent */
    -webkit-background-clip: text; /* Clip the background to the text */
    background-clip: text;

  }
  
  @keyframes animatedgradient2 {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 0%;
    }
    100% {
      background-position: 200% 0%;
    }
  }


:root {
    --background-gra: repeating-linear-gradient( -45deg, rgba(220, 220, 220, 0.5), rgba(220, 220, 220, 0.5) 6.5px, #ffffff 6.5px, #ffffff 32.5px );
    --background-gra-dark: repeating-linear-gradient( -45deg, rgb(26, 26, 26), rgb(26, 26, 26) 6.5px, #000000 6.5px, #000000 32.5px );
}

.changingtext:hover:after {
    content: attr(data-hover);
}

header {
  transition: all 0.2s ease-out;
  position: fixed;
}

header.sticky {
  transition: all 0.2s ease-in-out;
  background: rgba(125, 125, 125, 0.1);
  backdrop-filter: blur(10px);
  position: fixed;
}

#fact-container {
  /* Add these for the transition */
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  /* Remove any explicit height settings that might be interfering */
  /* height: auto; (This is usually the default, but ensure it's not overridden) */
  overflow: hidden; /* Helps with potential layout shifts during transition */
}

#fact-container.show {
  opacity: 1;
  transform: translateY(0);
}

body {
  font-family: 'Inter', sans-serif;
  
}
#confetti-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none; /* Allows clicks to pass through */
  z-index: -1; /* Place behind other elements */
}