@import "tailwindcss";
@import "tailwindcss/base";
@tailwind utilities;

.animate-gradient {
    background-size: 200%;
    -webkit-animation: animatedgradient 3s ease-in-out infinite forwards;
    -moz-animation: animatedgradient 3s ease-in-out infinite forwards;
    animation: animatedgradient 3s ease-in-out infinite forwards;
    color: transparent; /* Make the text itself transparent */
    -webkit-background-clip: text; /* Clip the background to the text */
    background-clip: text;

  }
  
  @keyframes animatedgradient {
    0% {
      background-position: 0% 0%;
      text-shadow: 0px 0px 10px rgb(153, 50, 226),0px 0px 10px rgb(153, 50, 226);
    }
    50% {
      background-position: 100% 0%;
      text-shadow: 0px 0px 20px rgb(208, 143, 255),0px 0px 20px rgb(208, 143, 255);
    }
    100% {
      background-position: 200% 0%;
      text-shadow: 0px 0px 10px rgb(153, 50, 226),0px 0px 10px rgb(153, 50, 226);
    }
  }


:root {
    --background-gra: repeating-linear-gradient( -45deg, rgba(220, 220, 220, 0.2), rgba(220, 220, 220, 0.2) 6.5px, #ffffff 6.5px, #ffffff 32.5px );
    --background-gra-dark: repeating-linear-gradient( -45deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 6.5px, #ffffff 6.5px, #ffffff 32.5px );
}