@import "tailwindcss";
@import "tailwindcss/base";
@tailwind utilities;

  .animate-gradient2 {
    background-size: 200%;
    -webkit-animation: animatedgradient2 3s ease-in-out infinite forwards;
    -moz-animation: animatedgradient2 3s ease-in-out infinite forwards;
    animation: animatedgradient2 3s ease-in-out infinite forwards;
    color: transparent; /* Make the text itself transparent */
    -webkit-background-clip: text; /* Clip the background to the text */
    background-clip: text;

  }
  
  @keyframes animatedgradient2 {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 0%;
    }
    100% {
      background-position: 200% 0%;
    }
  }


:root {
    --background-gra: repeating-linear-gradient( -45deg, rgba(220, 220, 220, 0.5), rgba(220, 220, 220, 0.5) 6.5px, #ffffff 6.5px, #ffffff 32.5px );
    --background-gra-dark: repeating-linear-gradient( -45deg, rgb(26, 26, 26), rgb(26, 26, 26) 6.5px, #000000 6.5px, #000000 32.5px );
}

.changingtext:hover:after {
    content: attr(data-hover);
}
