@import "tailwindcss";

body {
	background: linear-gradient(0deg, gold, #e73c7e, #23a6d5, #e73c7e, gold);
	background-size: 400% 400%;
	animation: gradient 15s ease-in-out forwards infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 100% 0%;
	}
	50% {
		background-position: 50% 50%;
	}
    100% {
		background-position: 100% 0%;
	}
}